/* normalize.css v1.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@font-face {
  font-family: "fonticon";
  src: url("../fonts/iconfont/fonticon.eot");
  src: url("../fonts/iconfont/fonticon.eot?#iefix") format('eot'), url("../fonts/iconfont/fonticon.woff") format('woff'), url("../fonts/iconfont/fonticon.ttf") format('truetype'), url("../fonts/iconfont/fonticon.svg#fonticon") format('svg');
}
[class^="icof-"],
[class*=" icof-"] {
  font-family: "fonticon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}
.icof-adjust:before {
  content: "\E001";
}
.icof-adn:before {
  content: "\E002";
}
.icof-align-center:before {
  content: "\E003";
}
.icof-align-justify:before {
  content: "\E004";
}
.icof-align-left:before {
  content: "\E005";
}
.icof-align-right:before {
  content: "\E006";
}
.icof-ambulance:before {
  content: "\E007";
}
.icof-anchor:before {
  content: "\E008";
}
.icof-android:before {
  content: "\E009";
}
.icof-angellist:before {
  content: "\E00A";
}
.icof-angle-double-down:before {
  content: "\E00B";
}
.icof-angle-double-left:before {
  content: "\E00C";
}
.icof-angle-double-right:before {
  content: "\E00D";
}
.icof-angle-double-up:before {
  content: "\E00E";
}
.icof-angle-down:before {
  content: "\E00F";
}
.icof-angle-left:before {
  content: "\E010";
}
.icof-angle-right:before {
  content: "\E011";
}
.icof-angle-up:before {
  content: "\E012";
}
.icof-apple:before {
  content: "\E013";
}
.icof-archive:before {
  content: "\E014";
}
.icof-area-chart:before {
  content: "\E015";
}
.icof-arrow-circle-down:before {
  content: "\E016";
}
.icof-arrow-circle-left:before {
  content: "\E017";
}
.icof-arrow-circle-o-down:before {
  content: "\E018";
}
.icof-arrow-circle-o-left:before {
  content: "\E019";
}
.icof-arrow-circle-o-right:before {
  content: "\E01A";
}
.icof-arrow-circle-o-up:before {
  content: "\E01B";
}
.icof-arrow-circle-right:before {
  content: "\E01C";
}
.icof-arrow-circle-up:before {
  content: "\E01D";
}
.icof-arrow-down:before {
  content: "\E01E";
}
.icof-arrow-left:before {
  content: "\E01F";
}
.icof-arrow-right:before {
  content: "\E020";
}
.icof-arrow-up:before {
  content: "\E021";
}
.icof-arrows-alt:before {
  content: "\E022";
}
.icof-arrows-h:before {
  content: "\E023";
}
.icof-arrows-v:before {
  content: "\E024";
}
.icof-arrows:before {
  content: "\E025";
}
.icof-asterisk:before {
  content: "\E026";
}
.icof-at:before {
  content: "\E027";
}
.icof-backward:before {
  content: "\E028";
}
.icof-ban:before {
  content: "\E029";
}
.icof-bar-chart:before {
  content: "\E02A";
}
.icof-barcode:before {
  content: "\E02B";
}
.icof-bars:before {
  content: "\E02C";
}
.icof-bed:before {
  content: "\E02D";
}
.icof-beer:before {
  content: "\E02E";
}
.icof-behance-square:before {
  content: "\E02F";
}
.icof-behance:before {
  content: "\E030";
}
.icof-bell-o:before {
  content: "\E031";
}
.icof-bell-slash-o:before {
  content: "\E032";
}
.icof-bell-slash:before {
  content: "\E033";
}
.icof-bell:before {
  content: "\E034";
}
.icof-bicycle:before {
  content: "\E035";
}
.icof-binoculars:before {
  content: "\E036";
}
.icof-birthday-cake:before {
  content: "\E037";
}
.icof-bitbucket-square:before {
  content: "\E038";
}
.icof-bitbucket:before {
  content: "\E039";
}
.icof-bold:before {
  content: "\E03A";
}
.icof-bolt:before {
  content: "\E03B";
}
.icof-bomb:before {
  content: "\E03C";
}
.icof-book:before {
  content: "\E03D";
}
.icof-bookmark-o:before {
  content: "\E03E";
}
.icof-bookmark:before {
  content: "\E03F";
}
.icof-briefcase:before {
  content: "\E040";
}
.icof-btc:before {
  content: "\E041";
}
.icof-bug:before {
  content: "\E042";
}
.icof-building-o:before {
  content: "\E043";
}
.icof-building:before {
  content: "\E044";
}
.icof-bullhorn:before {
  content: "\E045";
}
.icof-bullseye:before {
  content: "\E046";
}
.icof-bus:before {
  content: "\E047";
}
.icof-buysellads:before {
  content: "\E048";
}
.icof-calculator:before {
  content: "\E049";
}
.icof-calendar-o:before {
  content: "\E04A";
}
.icof-calendar:before {
  content: "\E04B";
}
.icof-camera-retro:before {
  content: "\E04C";
}
.icof-camera:before {
  content: "\E04D";
}
.icof-car:before {
  content: "\E04E";
}
.icof-caret-down:before {
  content: "\E04F";
}
.icof-caret-left:before {
  content: "\E050";
}
.icof-caret-right:before {
  content: "\E051";
}
.icof-caret-square-o-down:before {
  content: "\E052";
}
.icof-caret-square-o-left:before {
  content: "\E053";
}
.icof-caret-square-o-right:before {
  content: "\E054";
}
.icof-caret-square-o-up:before {
  content: "\E055";
}
.icof-caret-up:before {
  content: "\E056";
}
.icof-cart-arrow-down:before {
  content: "\E057";
}
.icof-cart-plus:before {
  content: "\E058";
}
.icof-cc-amex:before {
  content: "\E059";
}
.icof-cc-discover:before {
  content: "\E05A";
}
.icof-cc-mastercard:before {
  content: "\E05B";
}
.icof-cc-paypal:before {
  content: "\E05C";
}
.icof-cc-stripe:before {
  content: "\E05D";
}
.icof-cc-visa:before {
  content: "\E05E";
}
.icof-cc:before {
  content: "\E05F";
}
.icof-certificate:before {
  content: "\E060";
}
.icof-chain-broken:before {
  content: "\E061";
}
.icof-check-circle-o:before {
  content: "\E062";
}
.icof-check-circle:before {
  content: "\E063";
}
.icof-check-square-o:before {
  content: "\E064";
}
.icof-check-square:before {
  content: "\E065";
}
.icof-check:before {
  content: "\E066";
}
.icof-chevron-circle-down:before {
  content: "\E067";
}
.icof-chevron-circle-left:before {
  content: "\E068";
}
.icof-chevron-circle-right:before {
  content: "\E069";
}
.icof-chevron-circle-up:before {
  content: "\E06A";
}
.icof-chevron-down:before {
  content: "\E06B";
}
.icof-chevron-left:before {
  content: "\E06C";
}
.icof-chevron-right:before {
  content: "\E06D";
}
.icof-chevron-up:before {
  content: "\E06E";
}
.icof-child:before {
  content: "\E06F";
}
.icof-circle-o-notch:before {
  content: "\E070";
}
.icof-circle-o:before {
  content: "\E071";
}
.icof-circle-thin:before {
  content: "\E072";
}
.icof-circle:before {
  content: "\E073";
}
.icof-clipboard:before {
  content: "\E074";
}
.icof-clock-o:before {
  content: "\E075";
}
.icof-cloud-download:before {
  content: "\E076";
}
.icof-cloud-upload:before {
  content: "\E077";
}
.icof-cloud:before {
  content: "\E078";
}
.icof-code-fork:before {
  content: "\E079";
}
.icof-code:before {
  content: "\E07A";
}
.icof-codepen:before {
  content: "\E07B";
}
.icof-coffee:before {
  content: "\E07C";
}
.icof-cog:before {
  content: "\E07D";
}
.icof-cogs:before {
  content: "\E07E";
}
.icof-columns:before {
  content: "\E07F";
}
.icof-comment-o:before {
  content: "\E080";
}
.icof-comment:before {
  content: "\E081";
}
.icof-comments-o:before {
  content: "\E082";
}
.icof-comments:before {
  content: "\E083";
}
.icof-compass:before {
  content: "\E084";
}
.icof-compress:before {
  content: "\E085";
}
.icof-connectdevelop:before {
  content: "\E086";
}
.icof-copyright:before {
  content: "\E087";
}
.icof-credit-card:before {
  content: "\E088";
}
.icof-crop:before {
  content: "\E089";
}
.icof-crosshairs:before {
  content: "\E08A";
}
.icof-css3:before {
  content: "\E08B";
}
.icof-cube:before {
  content: "\E08C";
}
.icof-cubes:before {
  content: "\E08D";
}
.icof-cutlery:before {
  content: "\E08E";
}
.icof-dashcube:before {
  content: "\E08F";
}
.icof-database:before {
  content: "\E090";
}
.icof-delicious:before {
  content: "\E091";
}
.icof-desktop:before {
  content: "\E092";
}
.icof-deviantart:before {
  content: "\E093";
}
.icof-diamond:before {
  content: "\E094";
}
.icof-digg:before {
  content: "\E095";
}
.icof-dot-circle-o:before {
  content: "\E096";
}
.icof-download:before {
  content: "\E097";
}
.icof-dribbble:before {
  content: "\E098";
}
.icof-dropbox:before {
  content: "\E099";
}
.icof-drupal:before {
  content: "\E09A";
}
.icof-eject:before {
  content: "\E09B";
}
.icof-ellipsis-h:before {
  content: "\E09C";
}
.icof-ellipsis-v:before {
  content: "\E09D";
}
.icof-empire:before {
  content: "\E09E";
}
.icof-envelope-o:before {
  content: "\E09F";
}
.icof-envelope-square:before {
  content: "\E0A0";
}
.icof-envelope:before {
  content: "\E0A1";
}
.icof-eraser:before {
  content: "\E0A2";
}
.icof-eur:before {
  content: "\E0A3";
}
.icof-exchange:before {
  content: "\E0A4";
}
.icof-exclamation-circle:before {
  content: "\E0A5";
}
.icof-exclamation-triangle:before {
  content: "\E0A6";
}
.icof-exclamation:before {
  content: "\E0A7";
}
.icof-expand:before {
  content: "\E0A8";
}
.icof-external-link-square:before {
  content: "\E0A9";
}
.icof-external-link:before {
  content: "\E0AA";
}
.icof-eye-slash:before {
  content: "\E0AB";
}
.icof-eye:before {
  content: "\E0AC";
}
.icof-eyedropper:before {
  content: "\E0AD";
}
.icof-facebook-official:before {
  content: "\E0AE";
}
.icof-facebook-square:before {
  content: "\E0AF";
}
.icof-facebook:before {
  content: "\E0B0";
}
.icof-fast-backward:before {
  content: "\E0B1";
}
.icof-fast-forward:before {
  content: "\E0B2";
}
.icof-fax:before {
  content: "\E0B3";
}
.icof-female:before {
  content: "\E0B4";
}
.icof-fighter-jet:before {
  content: "\E0B5";
}
.icof-file-archive-o:before {
  content: "\E0B6";
}
.icof-file-audio-o:before {
  content: "\E0B7";
}
.icof-file-code-o:before {
  content: "\E0B8";
}
.icof-file-excel-o:before {
  content: "\E0B9";
}
.icof-file-image-o:before {
  content: "\E0BA";
}
.icof-file-o:before {
  content: "\E0BB";
}
.icof-file-pdf-o:before {
  content: "\E0BC";
}
.icof-file-powerpoint-o:before {
  content: "\E0BD";
}
.icof-file-text-o:before {
  content: "\E0BE";
}
.icof-file-text:before {
  content: "\E0BF";
}
.icof-file-video-o:before {
  content: "\E0C0";
}
.icof-file-word-o:before {
  content: "\E0C1";
}
.icof-file:before {
  content: "\E0C2";
}
.icof-files-o:before {
  content: "\E0C3";
}
.icof-film:before {
  content: "\E0C4";
}
.icof-filter:before {
  content: "\E0C5";
}
.icof-fire-extinguisher:before {
  content: "\E0C6";
}
.icof-fire:before {
  content: "\E0C7";
}
.icof-flag-checkered:before {
  content: "\E0C8";
}
.icof-flag-o:before {
  content: "\E0C9";
}
.icof-flag:before {
  content: "\E0CA";
}
.icof-flask:before {
  content: "\E0CB";
}
.icof-flickr:before {
  content: "\E0CC";
}
.icof-floppy-o:before {
  content: "\E0CD";
}
.icof-folder-o:before {
  content: "\E0CE";
}
.icof-folder-open-o:before {
  content: "\E0CF";
}
.icof-folder-open:before {
  content: "\E0D0";
}
.icof-folder:before {
  content: "\E0D1";
}
.icof-font:before {
  content: "\E0D2";
}
.icof-forumbee:before {
  content: "\E0D3";
}
.icof-forward:before {
  content: "\E0D4";
}
.icof-foursquare:before {
  content: "\E0D5";
}
.icof-frown-o:before {
  content: "\E0D6";
}
.icof-futbol-o:before {
  content: "\E0D7";
}
.icof-gamepad:before {
  content: "\E0D8";
}
.icof-gavel:before {
  content: "\E0D9";
}
.icof-gbp:before {
  content: "\E0DA";
}
.icof-gift:before {
  content: "\E0DB";
}
.icof-git-square:before {
  content: "\E0DC";
}
.icof-git:before {
  content: "\E0DD";
}
.icof-github-alt:before {
  content: "\E0DE";
}
.icof-github-square:before {
  content: "\E0DF";
}
.icof-github:before {
  content: "\E0E0";
}
.icof-glass:before {
  content: "\E0E1";
}
.icof-globe:before {
  content: "\E0E2";
}
.icof-google-plus-square:before {
  content: "\E0E3";
}
.icof-google-plus:before {
  content: "\E0E4";
}
.icof-google-wallet:before {
  content: "\E0E5";
}
.icof-google:before {
  content: "\E0E6";
}
.icof-graduation-cap:before {
  content: "\E0E7";
}
.icof-gratipay:before {
  content: "\E0E8";
}
.icof-h-square:before {
  content: "\E0E9";
}
.icof-hacker-news:before {
  content: "\E0EA";
}
.icof-hand-o-down:before {
  content: "\E0EB";
}
.icof-hand-o-left:before {
  content: "\E0EC";
}
.icof-hand-o-right:before {
  content: "\E0ED";
}
.icof-hand-o-up:before {
  content: "\E0EE";
}
.icof-hdd-o:before {
  content: "\E0EF";
}
.icof-header:before {
  content: "\E0F0";
}
.icof-headphones:before {
  content: "\E0F1";
}
.icof-heart-o:before {
  content: "\E0F2";
}
.icof-heart:before {
  content: "\E0F3";
}
.icof-heartbeat:before {
  content: "\E0F4";
}
.icof-history:before {
  content: "\E0F5";
}
.icof-home:before {
  content: "\E0F6";
}
.icof-hospital-o:before {
  content: "\E0F7";
}
.icof-html5:before {
  content: "\E0F8";
}
.icof-ils:before {
  content: "\E0F9";
}
.icof-inbox:before {
  content: "\E0FA";
}
.icof-indent:before {
  content: "\E0FB";
}
.icof-info-circle:before {
  content: "\E0FC";
}
.icof-info:before {
  content: "\E0FD";
}
.icof-inr:before {
  content: "\E0FE";
}
.icof-instagram:before {
  content: "\E0FF";
}
.icof-ioxhost:before {
  content: "\E100";
}
.icof-italic:before {
  content: "\E101";
}
.icof-joomla:before {
  content: "\E102";
}
.icof-jpy:before {
  content: "\E103";
}
.icof-jsfiddle:before {
  content: "\E104";
}
.icof-key:before {
  content: "\E105";
}
.icof-keyboard-o:before {
  content: "\E106";
}
.icof-krw:before {
  content: "\E107";
}
.icof-language:before {
  content: "\E108";
}
.icof-laptop:before {
  content: "\E109";
}
.icof-lastfm-square:before {
  content: "\E10A";
}
.icof-lastfm:before {
  content: "\E10B";
}
.icof-leaf:before {
  content: "\E10C";
}
.icof-leanpub:before {
  content: "\E10D";
}
.icof-lemon-o:before {
  content: "\E10E";
}
.icof-level-down:before {
  content: "\E10F";
}
.icof-level-up:before {
  content: "\E110";
}
.icof-life-ring:before {
  content: "\E111";
}
.icof-lightbulb-o:before {
  content: "\E112";
}
.icof-line-chart:before {
  content: "\E113";
}
.icof-link:before {
  content: "\E114";
}
.icof-linkedin-square:before {
  content: "\E115";
}
.icof-linkedin:before {
  content: "\E116";
}
.icof-linux:before {
  content: "\E117";
}
.icof-list-alt:before {
  content: "\E118";
}
.icof-list-ol:before {
  content: "\E119";
}
.icof-list-ul:before {
  content: "\E11A";
}
.icof-list:before {
  content: "\E11B";
}
.icof-location-arrow:before {
  content: "\E11C";
}
.icof-lock:before {
  content: "\E11D";
}
.icof-long-arrow-down:before {
  content: "\E11E";
}
.icof-long-arrow-left:before {
  content: "\E11F";
}
.icof-long-arrow-right:before {
  content: "\E120";
}
.icof-long-arrow-up:before {
  content: "\E121";
}
.icof-magic:before {
  content: "\E122";
}
.icof-magnet:before {
  content: "\E123";
}
.icof-male:before {
  content: "\E124";
}
.icof-map-marker:before {
  content: "\E125";
}
.icof-mars-double:before {
  content: "\E126";
}
.icof-mars-stroke-h:before {
  content: "\E127";
}
.icof-mars-stroke-v:before {
  content: "\E128";
}
.icof-mars-stroke:before {
  content: "\E129";
}
.icof-mars:before {
  content: "\E12A";
}
.icof-maxcdn:before {
  content: "\E12B";
}
.icof-meanpath:before {
  content: "\E12C";
}
.icof-medium:before {
  content: "\E12D";
}
.icof-medkit:before {
  content: "\E12E";
}
.icof-meh-o:before {
  content: "\E12F";
}
.icof-mercury:before {
  content: "\E130";
}
.icof-microphone-slash:before {
  content: "\E131";
}
.icof-microphone:before {
  content: "\E132";
}
.icof-minus-circle:before {
  content: "\E133";
}
.icof-minus-square-o:before {
  content: "\E134";
}
.icof-minus-square:before {
  content: "\E135";
}
.icof-minus:before {
  content: "\E136";
}
.icof-mobile:before {
  content: "\E137";
}
.icof-money:before {
  content: "\E138";
}
.icof-moon-o:before {
  content: "\E139";
}
.icof-motorcycle:before {
  content: "\E13A";
}
.icof-music:before {
  content: "\E13B";
}
.icof-neuter:before {
  content: "\E13C";
}
.icof-newspaper-o:before {
  content: "\E13D";
}
.icof-openid:before {
  content: "\E13E";
}
.icof-outdent:before {
  content: "\E13F";
}
.icof-pagelines:before {
  content: "\E140";
}
.icof-paint-brush:before {
  content: "\E141";
}
.icof-paper-plane-o:before {
  content: "\E142";
}
.icof-paper-plane:before {
  content: "\E143";
}
.icof-paperclip:before {
  content: "\E144";
}
.icof-paragraph:before {
  content: "\E145";
}
.icof-pause:before {
  content: "\E146";
}
.icof-paw:before {
  content: "\E147";
}
.icof-paypal:before {
  content: "\E148";
}
.icof-pencil-square-o:before {
  content: "\E149";
}
.icof-pencil-square:before {
  content: "\E14A";
}
.icof-pencil:before {
  content: "\E14B";
}
.icof-phone-square:before {
  content: "\E14C";
}
.icof-phone:before {
  content: "\E14D";
}
.icof-picture-o:before {
  content: "\E14E";
}
.icof-pie-chart:before {
  content: "\E14F";
}
.icof-pied-piper-alt:before {
  content: "\E150";
}
.icof-pied-piper:before {
  content: "\E151";
}
.icof-pinterest-p:before {
  content: "\E152";
}
.icof-pinterest-square:before {
  content: "\E153";
}
.icof-pinterest:before {
  content: "\E154";
}
.icof-plane:before {
  content: "\E155";
}
.icof-play-circle-o:before {
  content: "\E156";
}
.icof-play-circle:before {
  content: "\E157";
}
.icof-play:before {
  content: "\E158";
}
.icof-plug:before {
  content: "\E159";
}
.icof-plus-circle:before {
  content: "\E15A";
}
.icof-plus-square-o:before {
  content: "\E15B";
}
.icof-plus-square:before {
  content: "\E15C";
}
.icof-plus:before {
  content: "\E15D";
}
.icof-power-off:before {
  content: "\E15E";
}
.icof-print:before {
  content: "\E15F";
}
.icof-puzzle-piece:before {
  content: "\E160";
}
.icof-qq:before {
  content: "\E161";
}
.icof-qrcode:before {
  content: "\E162";
}
.icof-question-circle:before {
  content: "\E163";
}
.icof-question:before {
  content: "\E164";
}
.icof-quote-left:before {
  content: "\E165";
}
.icof-quote-right:before {
  content: "\E166";
}
.icof-random:before {
  content: "\E167";
}
.icof-rebel:before {
  content: "\E168";
}
.icof-recycle:before {
  content: "\E169";
}
.icof-reddit-square:before {
  content: "\E16A";
}
.icof-reddit:before {
  content: "\E16B";
}
.icof-refresh:before {
  content: "\E16C";
}
.icof-renren:before {
  content: "\E16D";
}
.icof-repeat:before {
  content: "\E16E";
}
.icof-reply-all:before {
  content: "\E16F";
}
.icof-reply:before {
  content: "\E170";
}
.icof-retweet:before {
  content: "\E171";
}
.icof-road:before {
  content: "\E172";
}
.icof-rocket:before {
  content: "\E173";
}
.icof-rss-square:before {
  content: "\E174";
}
.icof-rss:before {
  content: "\E175";
}
.icof-rub:before {
  content: "\E176";
}
.icof-scissors:before {
  content: "\E177";
}
.icof-search-minus:before {
  content: "\E178";
}
.icof-search-plus:before {
  content: "\E179";
}
.icof-search:before {
  content: "\E17A";
}
.icof-sellsy:before {
  content: "\E17B";
}
.icof-server:before {
  content: "\E17C";
}
.icof-share-alt-square:before {
  content: "\E17D";
}
.icof-share-alt:before {
  content: "\E17E";
}
.icof-share-square-o:before {
  content: "\E17F";
}
.icof-share-square:before {
  content: "\E180";
}
.icof-share:before {
  content: "\E181";
}
.icof-shield:before {
  content: "\E182";
}
.icof-ship:before {
  content: "\E183";
}
.icof-shirtsinbulk:before {
  content: "\E184";
}
.icof-shopping-cart:before {
  content: "\E185";
}
.icof-sign-in:before {
  content: "\E186";
}
.icof-sign-out:before {
  content: "\E187";
}
.icof-signal:before {
  content: "\E188";
}
.icof-simplybuilt:before {
  content: "\E189";
}
.icof-sitemap:before {
  content: "\E18A";
}
.icof-skyatlas:before {
  content: "\E18B";
}
.icof-skype:before {
  content: "\E18C";
}
.icof-slack:before {
  content: "\E18D";
}
.icof-sliders:before {
  content: "\E18E";
}
.icof-slideshare:before {
  content: "\E18F";
}
.icof-smile-o:before {
  content: "\E190";
}
.icof-sort-alpha-asc:before {
  content: "\E191";
}
.icof-sort-alpha-desc:before {
  content: "\E192";
}
.icof-sort-amount-asc:before {
  content: "\E193";
}
.icof-sort-amount-desc:before {
  content: "\E194";
}
.icof-sort-asc:before {
  content: "\E195";
}
.icof-sort-desc:before {
  content: "\E196";
}
.icof-sort-numeric-asc:before {
  content: "\E197";
}
.icof-sort-numeric-desc:before {
  content: "\E198";
}
.icof-sort:before {
  content: "\E199";
}
.icof-soundcloud:before {
  content: "\E19A";
}
.icof-space-shuttle:before {
  content: "\E19B";
}
.icof-spinner:before {
  content: "\E19C";
}
.icof-spoon:before {
  content: "\E19D";
}
.icof-spotify:before {
  content: "\E19E";
}
.icof-square-o:before {
  content: "\E19F";
}
.icof-square:before {
  content: "\E1A0";
}
.icof-stack-exchange:before {
  content: "\E1A1";
}
.icof-stack-overflow:before {
  content: "\E1A2";
}
.icof-star-half-o:before {
  content: "\E1A3";
}
.icof-star-half:before {
  content: "\E1A4";
}
.icof-star-o:before {
  content: "\E1A5";
}
.icof-star:before {
  content: "\E1A6";
}
.icof-steam-square:before {
  content: "\E1A7";
}
.icof-steam:before {
  content: "\E1A8";
}
.icof-step-backward:before {
  content: "\E1A9";
}
.icof-step-forward:before {
  content: "\E1AA";
}
.icof-stethoscope:before {
  content: "\E1AB";
}
.icof-stop:before {
  content: "\E1AC";
}
.icof-street-view:before {
  content: "\E1AD";
}
.icof-strikethrough:before {
  content: "\E1AE";
}
.icof-stumbleupon-circle:before {
  content: "\E1AF";
}
.icof-stumbleupon:before {
  content: "\E1B0";
}
.icof-subscript:before {
  content: "\E1B1";
}
.icof-subway:before {
  content: "\E1B2";
}
.icof-suitcase:before {
  content: "\E1B3";
}
.icof-sun-o:before {
  content: "\E1B4";
}
.icof-superscript:before {
  content: "\E1B5";
}
.icof-table:before {
  content: "\E1B6";
}
.icof-tablet:before {
  content: "\E1B7";
}
.icof-tachometer:before {
  content: "\E1B8";
}
.icof-tag:before {
  content: "\E1B9";
}
.icof-tags:before {
  content: "\E1BA";
}
.icof-tasks:before {
  content: "\E1BB";
}
.icof-taxi:before {
  content: "\E1BC";
}
.icof-tencent-weibo:before {
  content: "\E1BD";
}
.icof-terminal:before {
  content: "\E1BE";
}
.icof-text-height:before {
  content: "\E1BF";
}
.icof-text-width:before {
  content: "\E1C0";
}
.icof-th-large:before {
  content: "\E1C1";
}
.icof-th-list:before {
  content: "\E1C2";
}
.icof-th:before {
  content: "\E1C3";
}
.icof-thumb-tack:before {
  content: "\E1C4";
}
.icof-thumbs-down:before {
  content: "\E1C5";
}
.icof-thumbs-o-down:before {
  content: "\E1C6";
}
.icof-thumbs-o-up:before {
  content: "\E1C7";
}
.icof-thumbs-up:before {
  content: "\E1C8";
}
.icof-ticket:before {
  content: "\E1C9";
}
.icof-times-circle-o:before {
  content: "\E1CA";
}
.icof-times-circle:before {
  content: "\E1CB";
}
.icof-times:before {
  content: "\E1CC";
}
.icof-tint:before {
  content: "\E1CD";
}
.icof-toggle-off:before {
  content: "\E1CE";
}
.icof-toggle-on:before {
  content: "\E1CF";
}
.icof-train:before {
  content: "\E1D0";
}
.icof-transgender-alt:before {
  content: "\E1D1";
}
.icof-transgender:before {
  content: "\E1D2";
}
.icof-trash-o:before {
  content: "\E1D3";
}
.icof-trash:before {
  content: "\E1D4";
}
.icof-tree:before {
  content: "\E1D5";
}
.icof-trello:before {
  content: "\E1D6";
}
.icof-trophy:before {
  content: "\E1D7";
}
.icof-truck:before {
  content: "\E1D8";
}
.icof-try:before {
  content: "\E1D9";
}
.icof-tty:before {
  content: "\E1DA";
}
.icof-tumblr-square:before {
  content: "\E1DB";
}
.icof-tumblr:before {
  content: "\E1DC";
}
.icof-twitch:before {
  content: "\E1DD";
}
.icof-twitter-square:before {
  content: "\E1DE";
}
.icof-twitter:before {
  content: "\E1DF";
}
.icof-umbrella:before {
  content: "\E1E0";
}
.icof-underline:before {
  content: "\E1E1";
}
.icof-undo:before {
  content: "\E1E2";
}
.icof-university:before {
  content: "\E1E3";
}
.icof-unlock-alt:before {
  content: "\E1E4";
}
.icof-unlock:before {
  content: "\E1E5";
}
.icof-upload:before {
  content: "\E1E6";
}
.icof-usd:before {
  content: "\E1E7";
}
.icof-user-md:before {
  content: "\E1E8";
}
.icof-user-plus:before {
  content: "\E1E9";
}
.icof-user-secret:before {
  content: "\E1EA";
}
.icof-user-times:before {
  content: "\E1EB";
}
.icof-user:before {
  content: "\E1EC";
}
.icof-users:before {
  content: "\E1ED";
}
.icof-venus-double:before {
  content: "\E1EE";
}
.icof-venus-mars:before {
  content: "\E1EF";
}
.icof-venus:before {
  content: "\E1F0";
}
.icof-viacoin:before {
  content: "\E1F1";
}
.icof-video-camera:before {
  content: "\E1F2";
}
.icof-vimeo-square:before {
  content: "\E1F3";
}
.icof-vine:before {
  content: "\E1F4";
}
.icof-vk:before {
  content: "\E1F5";
}
.icof-volume-down:before {
  content: "\E1F6";
}
.icof-volume-off:before {
  content: "\E1F7";
}
.icof-volume-up:before {
  content: "\E1F8";
}
.icof-weibo:before {
  content: "\E1F9";
}
.icof-weixin:before {
  content: "\E1FA";
}
.icof-whatsapp:before {
  content: "\E1FB";
}
.icof-wheelchair:before {
  content: "\E1FC";
}
.icof-wifi:before {
  content: "\E1FD";
}
.icof-windows:before {
  content: "\E1FE";
}
.icof-wordpress:before {
  content: "\E1FF";
}
.icof-wrench:before {
  content: "\E200";
}
.icof-xing-square:before {
  content: "\E201";
}
.icof-xing:before {
  content: "\E202";
}
.icof-yahoo:before {
  content: "\E203";
}
.icof-yelp:before {
  content: "\E204";
}
.icof-youtube-play:before {
  content: "\E205";
}
.icof-youtube-square:before {
  content: "\E206";
}
.icof-youtube:before {
  content: "\E207";
}
a {
  color: #fff;
}
body {
  font-size: 16px;
}
header,
footer,
#wrapper {
  max-width: 978px;
  margin: 0 auto;
}
img.res {
  width: 100%;
}
.container {
  padding: 0 2em;
}
.main-content {
  min-height: 450px;
}
#logo-expertisse {
  background-image: url("../img/sprite.png");
  background-size: 269.5px;
  background-position: 0px -192.5px;
  width: 132px;
  height: 25px;
}
header {
  background-color: #c72232;
  border-bottom: 10px solid #e6d434;
  height: 150px;
  overflow: hidden;
  position: relative;
}
header figure {
  background-color: #fff;
  border-radius: 200px;
  height: 200px;
  margin-top: 10px;
  overflow: hidden;
  width: 200px;
}
header #logo {
  margin: 40px auto 0 auto;
  background-image: url("../img/sprite.png");
  background-size: 269.5px;
  background-position: 0px -105.5px;
  width: 175px;
  height: 87px;
}
@media only screen and (min-resolution: 1.5dppx), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  header #logo {
    background-image: url("../img/sprite@2x.png");
  }
}
header figure,
header nav {
  display: inline-block;
  vertical-align: middle;
}
nav {
  margin-top: 46px;
  text-align: right;
  width: 60%;
}
nav a {
  display: block;
  box-sizing: border-box;
  padding: 12px 5px 10px 5px;
  text-decoration: none;
}
nav > ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  font-size: 1em;
  margin-right: 2%;
}
nav li:hover {
  background-color: #fff;
}
nav li:hover a {
  color: #000;
}
nav li:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 1050px) {
  nav li {
    margin-right: 8%;
  }
}
nav li > ul {
  display: none;
}
#home-slider {
  overflow: hidden;
  max-height: 550px;
}
#home-slider ul {
  margin: 0;
  padding: 0;
}
#home-slider li {
  clip-path: circle(30px at 35px 35px);
}
#home-slider img {
  width: 100%;
  max-width: 1200px;
}
#shortcuts {
  margin: 0;
  background-color: #6c6c6c;
  width: 100%;
}
#shortcuts ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #shortcuts ul {
    text-align: left;
  }
}
#shortcuts li {
  display: inline-block;
  box-sizing: border-box;
  margin-right: -3.4px;
  width: 20%;
}
@media only screen and (max-width: 600px) {
  #shortcuts li {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  #shortcuts li a {
    margin: 0 auto;
    width: 70%;
  }
  #shortcuts li span {
    display: inline-block;
    vertical-align: middle;
  }
  #shortcuts li span:last-child {
    width: 70%;
  }
  #shortcuts li .icon {
    width: 22%;
  }
}
#shortcuts span {
  display: block;
}
#shortcuts .icon {
  font-size: 2em;
}
article.inner {
  padding: 1.5em;
}
article.inner h1 {
  border-bottom: 1px dotted #3b3e3f;
  font-size: 1.3em;
  margin: 0 0 1em 0;
}
footer {
  background-color: #3b3e3f;
  color: #fff;
}
footer p {
  margin: 0;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 2em;
  text-align: center;
}
footer li {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin-right: -5px;
  width: 33.3%;
}
footer li:first-child,
footer li:nth-child(2) {
  text-align: left;
  padding-left: 1em;
}
footer #logo-expertisse {
  margin: 0 auto;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
